@import url(https://fonts.googleapis.com/css?family=Roboto:700,400);

.big-overLay {
  width: 980px;
  border-radius: 0;
}

.big-overLay .modal-title {
  font-size: 22px;
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #000;
}

.big-overLay .modal-header {
  min-height: 15px;
  padding: 10px;
  background-color: #f7f7f7;
  text-align: left;
  height: 50px;
}

.big-overLay .modal-header h4.modal-title {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #000000;
}

.big-overLay .modal-header .close {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #000000;
}
